
# Editor directories and files
# Environment
# Logs
# Test scripts
dist
dist/
dist-ssr
.DS_Store
e2e-report/
.env
.env.*
.idea
lerna-debug.log*
*.local
*.log
logs
*.njsproj
node_modules
node_modules/
npm-debug.log*
*.ntvs*
pnpm-debug.log*
*.sln
*.suo
*.sw?
test_*.cjs
test_*.js
test-results/
.vscode/*
!.vscode/extensions.json
yarn-debug.log*
yarn-error.log*
